*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100%;
    background-color: aliceblue;
}

h1{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
}

.input-div{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    
}

.input-div .input{
    padding: 0.5rem 1rem;
    height: 30px;
    outline: none;
    background-color: rgb(172, 172, 161);
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    
}

.container {
    display:flex ;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.addbutton{
    height: 30px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    background-color: #ffff;
    background-color: rgb(154, 155, 219);
    margin: 0.25px;


}

.addbutton:hover{
    opacity: 0.7;
}

.item{
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1.5px solid #ffff;
}

.item_input{
    background : rgb(194, 187, 187);
    outline: none;
    color: rgb(46, 43, 43);
    border: 1px solid lightblue;
    width: 350px;
    font-size: 1.5rem;
    border-radius: 25px;
    text-align: left;
    justify-content: center;
    align-items: center;
    
}

.edit_btn{
font-size: 1.4rem;
margin: 0 0.5rem;
font-family: sans-serif;
background: none;
outline: none;
color: rgb(7, 7, 7);
border: 1px solid green;
border-radius: 25px;
background-color: rgb(135, 223, 135);
width: 120px;
cursor: pointer;
}

.edit_btn:hover{
    opacity: 0.7;
}


.remove_btn{
    font-size: 1.4rem;
    margin: 0 0.5rem;
    font-family: sans-serif;
    background: none;
    outline: none;
    color: rgb(8, 8, 8);
    border: 1px solid lightcoral;
    width: 120px;
    border-radius: 25px;
    background-color: lightcoral;
    cursor: pointer;
}

